/*Styling the div */

html {
  background-color: #373976;
}

#root > div {
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
}

#root > div > div:nth-child(1) {
  padding-left: 5%;
  padding-right: 5%;
}

#root > div > div:nth-child(1) > div.rec-system-title {
  height: 300px;
  background-image: url("resources/bg-image-rs-cropped.jpg");
  background-position: top left;
  display: flex;
  flex-direction: column;
  justify-content: start;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#root > div > div:nth-child(1) > div.rec-system-title > h1 {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#root > div > div:nth-child(1) > div.rec-system-title {
  margin-top: 40px;
}

#root > div > div.rec-system.rec-system-res {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 4%;
}

#start-button {
  margin-left: 3%;
}

.navbar {
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  margin-left: -23%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

#root > div > div:nth-child(1) > div.navbar > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root > div > div {
  background-color: grey;
}

#root > div > div.rec-system.rec-system-res > h3 {
  padding-top: 30px;
  margin-top: 0px;
}

#root > div > div:nth-child(1) > div.description > div > table {
  border: 1px solid black;
}

#root > div > div.rec-system.rec-system-res > div.lstm-model > div:nth-child(3) {
  border: 1px solid black;
}